.container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.3rem 3rem;
}

.experienceContainer{
    flex: 1;
}

.experienceContainer h1 {
    color: #4C987E;
    text-decoration: underline;
}

.skillContainer{
    flex: 1;
}

.skillContainer h1 {
    color: #4C987E;
    text-decoration: underline;
}