.card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 12px;
}

.card p {
    margin: 5px 0px;
}

.icon{
    margin-right: 18px;
    color: #4C987E;
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 14px;
    }

    .icon {
        margin-right: 15px;
    }
}