.card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 12px;
}

.card p {
    margin: 5px 0px;
}

.icon{
    margin-right: 18px;
    color: #4C987E;
}

.link:hover {
    text-decoration: underline;
}